@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.triangle {
		@apply absolute h-0 w-0 border-l-[11px] border-r-[11px] border-b-[17px] border-solid border-l-[transparent] border-r-[transparent] border-b-white content-[""];
	}
	.hide {
		@apply pointer-events-none invisible opacity-0;
	}
	.show {
		@apply pointer-events-auto visible opacity-25;
	}
}
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
html,
body {
	height: 100%;
	width: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	background-color: #fafafa;
}

.cropper-view-box {
	outline: none !important;
	outline-color: none !important;
}

.cropper-point {
	display: none !important;
}
.cropper-dashed {
	border-style: solid !important;
}

.swiper-slide {
	width: 94px !important;
	height: 94px !important;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.blue {
	color: rgb(26, 26, 195);
}
.blue:hover {
	text-decoration: underline;
}
