@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.triangle {
		@apply w-0 h-0 border-solid border-l-[11px] border-l-[transparent] border-r-[11px] border-r-[transparent] border-b-[17px] border-b-white content-[""] absolute;
	}
}
html,
body {
	height: 100%;
	width: 100%;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	background-color: #fafafa;
}
